Repository woocommerce/grow, pull requests merged in 2022-07, with the labels that each got.

#22 Add release process for the `github-actions` package
  .github/scripts/github-actions-create-pr-for-release.mjs
  .github/scripts/github-actions-create-release.mjs
  .github/workflows/github-actions-create-release.yml
  .github/workflows/github-actions-prepare-release.yml
  .github/workflows/github-actions-release.yml
  packages/js/github-actions/README.md
  packages/js/github-actions/actions/get-release-notes/src/get-release-notes.js
  packages/js/github-actions/actions/update-version-tags/README.md
  packages/js/github-actions/actions/update-version-tags/action.yml
  packages/js/github-actions/actions/update-version-tags/src/update-version-tags.js
  packages/js/github-actions/utils/get-package-settings.js
  packages/js/github-actions/utils/package-tool.js
Labels: [actions] changelog: add

#24 Fix the JSON parse error when manually releasing the `github-actions` package
  .github/workflows/github-actions-release.yml
Labels: [actions] changelog: fix

#25 Add "php-version" input to the phpcs-diff action for specifying PHP version
  packages/js/github-actions/actions/phpcs-diff/README.md
  packages/js/github-actions/actions/phpcs-diff/action.yml
  packages/js/github-actions/actions/prepare-php/README.md
Labels: [actions] changelog: add

#27 Fix the JSON syntax error of running `phpcd-diff` action when no changes are made
  packages/js/github-actions/actions/phpcs-diff/action.yml
Labels: [actions] changelog: fix

#28 Add "dev" change type to `branch-label` GHA,
  packages/js/github-actions/actions/branch-label/action.yml
Labels: [actions] changelog: add

#30 Fix a bash script syntax error in the `phpcs-diff` action
  packages/js/github-actions/actions/phpcs-diff/action.yml
Labels: [actions] changelog: fix

#34 Change the build tool of `github-actions` package to `rollup`
  packages/js/github-actions/actions/get-release-notes/action.yml
  packages/js/github-actions/actions/phpcs-diff/action.yml
  packages/js/github-actions/actions/update-version-tags/action.yml
  packages/js/github-actions/package-lock.json
  packages/js/github-actions/package.json
  packages/js/github-actions/rollup.config.js
Labels: [actions] changelog: tweak

#35 Add annotation actions of `eslint` and `stylelint` for annotating the linting results via their formatter
  packages/js/github-actions/README.md
  packages/js/github-actions/actions/eslint-annotation/README.md
  packages/js/github-actions/actions/eslint-annotation/action.yml
  packages/js/github-actions/actions/eslint-annotation/src/eslintFormatter.js
  packages/js/github-actions/actions/stylelint-annotation/README.md
  packages/js/github-actions/actions/stylelint-annotation/action.yml
  packages/js/github-actions/actions/stylelint-annotation/src/stylelintFormatter.js
  packages/js/github-actions/rollup.config.js
Labels: [actions] changelog: add
