Repository woocommerce/grow, pull requests merged in 2023-07, with the labels that each got.

#66 Get Plugin releases Action: Fix error counting RC releases
  packages/github-actions/actions/get-plugin-releases/src/get-plugin-releases.js
Labels: type: bug, [actions] changelog: fix

#64 Add automerge-released-trunk action
  packages/github-actions/actions/automerge-released-trunk/README.md
  packages/github-actions/actions/automerge-released-trunk/action.yml
Labels: [actions] changelog: add

#69 Remove `trunk`->`develop` merge step from the release checklist of `automerge-released-trunk` action
  packages/github-actions/actions/prepare-extension-release/src/woo-extension-create-pr-for-release.mjs
Labels: [actions] changelog: tweak
