Repository woocommerce/grow, pull requests merged in 2024-04, with the labels that each got.

#109 Add PHP linter and PHP linting in GitHub Actions
  .github/workflows/php-coding-standards.yml
  README.md
  composer.json
  composer.lock
  package.json
  packages/github-actions/actions/hook-documentation/bin/github-actions-hook-documentor.php
  packages/github-actions/actions/hook-documentation/src/Documentor.php
  packages/github-actions/actions/hook-documentation/tests/Data/sample-file-1.php
  packages/github-actions/actions/hook-documentation/tests/Data/sample-file-2.php
  packages/github-actions/actions/hook-documentation/tests/Pest.php
  packages/github-actions/actions/hook-documentation/tests/Unit/DocumentorContentTest.php
  packages/github-actions/actions/hook-documentation/tests/Unit/DocumentorTest.php
  packages/php/compat-checker/src/Checker.php
  packages/php/compat-checker/src/Checks/CompatCheck.php
  packages/php/compat-checker/src/Checks/WCCompatibility.php
  packages/php/compat-checker/src/Checks/WPCompatibility.php
  packages/php/woorelease-extension/src/Commands/Bulk.php
  packages/php/woorelease-extension/src/Utils/VersionReplace.php
  phpcs.xml.dist
  plugins/grow-smooth-generator/includes/CLI/AutomateWoo.php
  plugins/grow-smooth-generator/includes/Generator/AutomateWoo/Conversion.php
  plugins/grow-smooth-generator/includes/Generator/AutomateWoo/EmailTracking.php
  plugins/grow-smooth-generator/includes/Plugin.php
Labels: [actions] changelog: tweak

#112 Upgrade the fundamental of the `github-actions` package and its `get-release-notes`, `prepare-node`, and `update-version-tags` actions to use Node.js v20
  .github/scripts/github-actions-create-release.mjs
  .github/workflows/github-actions-create-release.yml
  .github/workflows/github-actions-create-test-build.yml
  .github/workflows/github-actions-delete-test-build.yml
  .github/workflows/github-actions-prepare-release.yml
  .github/workflows/github-actions-release.yml
  packages/github-actions/actions/get-plugin-releases/src/get-plugin-releases.js
  packages/github-actions/actions/get-release-notes/README.md
  packages/github-actions/actions/get-release-notes/action.yml
  packages/github-actions/actions/phpcs-diff/src/annotate-phpcs-report.js
  packages/github-actions/actions/prepare-node/README.md
  packages/github-actions/actions/prepare-node/action.yml
  packages/github-actions/actions/publish-extension-dev-build/src/publish-extension-dev-build.js
  packages/github-actions/actions/update-version-tags/README.md
  packages/github-actions/actions/update-version-tags/action.yml
  packages/github-actions/package-lock.json
  packages/github-actions/package.json
  packages/github-actions/rollup.config.js
  packages/github-actions/utils/package-tool.js
Labels: [actions] changelog: breaking

#102 Get Plugin Releases - Prevent unstable releases
  packages/github-actions/actions/get-plugin-releases/src/get-plugin-releases.js
Labels: [actions] changelog: tweak

#114 Upgrade the `automerge-released-trunk`, `coverage-report`, and `prepare-php` actions to use Node.js v20
  packages/github-actions/actions/automerge-released-trunk/README.md
  packages/github-actions/actions/automerge-released-trunk/action.yml
  packages/github-actions/actions/coverage-report/README.md
  packages/github-actions/actions/coverage-report/action.yml
  packages/github-actions/actions/prepare-php/README.md
  packages/github-actions/actions/prepare-php/action.yml
Labels: [actions] changelog: breaking

#115 Update the version in docs of the `hook-documentation`, `prepare-mysql`, and `run-qit-annotate` actions to v2
  packages/github-actions/actions/hook-documentation/readme.md
  packages/github-actions/actions/prepare-mysql/README.md
  packages/github-actions/actions/run-qit-annotate/README.md
Labels: [actions] changelog: docs

#116 Upgrade the `phpcs-diff` action to use Node.js v20
  packages/github-actions/actions/phpcs-diff/README.md
  packages/github-actions/actions/phpcs-diff/action.yml
Labels: [actions] changelog: breaking

#117 Upgrade the `eslint-annotation` and `stylelint-annotation` actions to use Node.js v20
  packages/github-actions/actions/eslint-annotation/README.md
  packages/github-actions/actions/stylelint-annotation/README.md
Labels: [actions] changelog: breaking

#119 Upgrade the `get-plugin-releases` action to use Node.js v20
  packages/github-actions/actions/get-plugin-releases/README.md
  packages/github-actions/actions/get-plugin-releases/action.yml
  packages/github-actions/actions/get-plugin-releases/src/get-plugin-releases.js
Labels: [actions] changelog: breaking

#120 Upgrade the `run-qit-extension` action to use Node.js v20
  packages/github-actions/actions/run-qit-extension/README.md
  packages/github-actions/actions/run-qit-extension/action.yml
Labels: [actions] changelog: breaking

#121 Upgrade the `merge-trunk-develop-pr`, `prepare-extension-release`, and `publish-extension-dev-build` actions to use Node.js v20
  packages/github-actions/actions/merge-trunk-develop-pr/README.md
  packages/github-actions/actions/merge-trunk-develop-pr/action.yml
  packages/github-actions/actions/prepare-extension-release/README.md
  packages/github-actions/actions/prepare-extension-release/action.yml
  packages/github-actions/actions/publish-extension-dev-build/README.md
  packages/github-actions/actions/publish-extension-dev-build/action.yml
  packages/github-actions/actions/publish-extension-dev-build/src/publish-extension-dev-build.js
Labels: [actions] changelog: breaking
