Repository woocommerce/grow, pull requests merged in 2024-05, with the labels that each got.

#122 Upgrade the `branch-label` action to use Node.js v20
  packages/github-actions/actions/branch-label/README.md
  packages/github-actions/actions/branch-label/action.yml
  packages/github-actions/actions/branch-label/labeler.yml
Labels: [actions] changelog: breaking

#123 Update the README for the `github-actions` package to be based on Node.js v20
  packages/github-actions/README.md
Labels: [actions] changelog: docs

#124 Adjust the v1 of the `github-actions` package to be deprecated
  .github/scripts/github-actions-create-pr-for-release.mjs
  packages/github-actions/README.md
Labels: [actions] changelog: tweak

#127 Update QIT test types `api` and `e2e` for the `run-qit-extension` action to align with the renamed types
  packages/github-actions/actions/run-qit-extension/action.yml
Labels: [actions] changelog: tweak

#130 Remove the unused step `id` from the `run-qit-extension` action
  packages/github-actions/actions/run-qit-extension/action.yml
Labels: [actions] changelog: tweak

#131 Avoid running malicious inputs as shell commands in Custom GitHub actions and relate workflows
  .github/workflows/github-actions-create-test-build.yml
  .github/workflows/github-actions-delete-test-build.yml
  packages/github-actions/actions/automerge-released-trunk/action.yml
  packages/github-actions/actions/eslint-annotation/action.yml
  packages/github-actions/actions/merge-trunk-develop-pr/action.yml
  packages/github-actions/actions/prepare-extension-release/action.yml
  packages/github-actions/actions/prepare-node/action.yml
  packages/github-actions/actions/prepare-php/action.yml
  packages/github-actions/actions/run-qit-annotate/action.yml
  packages/github-actions/actions/stylelint-annotation/action.yml
Labels: [actions] changelog: fix
